<footer>
    Este es mi footer &copy FORMAR;
</footer>
<!--cuando creamos plantillas vamos a ir pegando contenido de las otras vistas y agrego lo que falta de lo que me falto de llevar-->
</body>

</html>