<%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
        <h1>Bienvenido</h1>
        <!--esto es hacer eco en laravel-->
        <!--si quiero imprimir algo tengo que usar el signo igual <%= %> ir al controlador-->
        <%- include('./partials/footer.ejs') %>